<div class="container-fluid bg-grey" >
    <h3 class="col-md-12 text-center">Change Password</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
      <form name="userForm" ng-submit="changePassword(userForm.$valid)" class="signin" novalidate autocomplete="off">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="newPassword">New Password</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="newPassword" placeholder="New Password"  required>
            <div ng-messages="userForm.newPassword.$error" role="alert">
              <p class="help-block error-text" ng-message="required">New Password is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="confirmPassword">Confirm Password</label>
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ng-model="confirmPassword" placeholder="Confirm Password"  required>
            <div ng-messages="userForm.confirmPassword.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Confirm Password is required.</p>
            </div>
          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          <div ng-show="errorText" class="text-center text-danger">
            <strong ng-bind="errorText"></strong>
          </div>
        </fieldset>
      </form>
    </div>
</div>
