<div >
  <h3 class="col-md-12 text-center page-header">LogIn</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="login(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="username" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Login</button>
          &nbsp; or&nbsp;
          <a ui-sref="signup">Signup</a>
        </div>
        <br/>
        <!-- <div class="text-center forgot-password">
          <a ui-sref="forgot">Forgot your password?</a>
        </div> -->
        <div type="danger" ng-show="errorText" class="text-center text-danger">
          <span ng-bind="errorText"></span>
        </div>
      </fieldset>
    </form>
  </div>
</div>
